<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362725516540-v19gda38oci78351s3j0rt6k1euc66jk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362725516540-v19gda38oci78351s3j0rt6k1euc66jk</string>
	<key>API_KEY</key>
	<string>AIzaSyCiKCXh7csY9VOws3C3JP8cXeEYoUXLQbA</string>
	<key>GCM_SENDER_ID</key>
	<string>362725516540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cocodemy</string>
	<key>PROJECT_ID</key>
	<string>cocodemy-77295</string>
	<key>STORAGE_BUCKET</key>
	<string>cocodemy-77295.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362725516540:ios:118b70c048187da1b7a379</string>
</dict>
</plist>